
{% extends 'base.html' %}
{% block scriptstop %}<script src="https://sdk.mercadopago.com/js/v2"></script>{% endblock scriptstop %}
{% block title %}Pamnento{% endblock title %}
{% block content %}
<div class="col-lg-9 mt-2 bordered">
    <div class="row">
        <h1>lista de itens</h1>
        <table class ="table table-bordered">
            <tr>
                <th>Nome</th>
                <th>preço</th>
                <th>quantidade</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ preference.sandbox_init_point }}" class="btn btn-primary">Pagar com Mercado Pago</a>
    </div>
</div>

    
{% endblock content %}






