{% extends 'base.html' %}
{% block content %}
<div class="shadow col-lg-10 offset-lg-1 mt-5">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="col-lg-12">
            <label for="id_name" class="form-label">Nome:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="col-lg-12">
            <label for="id_name" class="form-label">Slug:</label>
            {{ form.slug }}
            {{ form.slug.errors }}
        </div>
        <div class="col-lg-12">
            <label for="id_name" class="form-label">Departamento:</label>
            {{ form.department }}
            {{ form.department.errors }}
        </div>
        <div class=" offset-lg-2 col-lg-8 mb-2 mt-3">
            <button type="submit" class= "form-control btn btn-primary btn-lg">Criar</button>
        </div>
    </form>
</div>
{% endblock content %}