{% extends 'base.html' %}
{% block content %}
        <p class="mt-2"><a href="{% url 'department_create' %}" class="btn btn-success"> Criar um novo departamento</a></p>
        <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Slug</th>
                <th></th>
            </tr>
            {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                {% if department.slug %}
                <td><a href="{% url 'ecommerc:department' department.slug %}">{{ department.slug}}</a></td>
                {% endif %}
                <td>
                    <a href="{% url 'department_update' department.pk%}" class="btn btn-success">
                        Atualizar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}