{% extends 'base.html' %}
{% block content %}
{% load permission_tags %}
<div class="col-lg-9 mt-2">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{% url 'product_detail' product.id %}"><img class="card-img-top" height="200px" {% if product.image %}
                        src="{{ product.image.url }}" {% else %} src="https://via.placeholder.com/700x400" {% endif %}
                        alt="..." /></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                    <h5>${{ product.price }}</h5>
                    <p class="card-text">{{ product.information }}</p>
                </div>
                {% if product.quantity == 0 %}
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a class="btn btn-danger" href="." onclick="return false;">
                            Esgotado
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="card-footer"><a class="btn btn-primary" href="{% url 'cart_add' product.id %}">
                        adcionar ao carrinho
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}