{% extends 'base.html' %}
{% block content  %}
<div class="col-lg-9">
    <div class="row">

        <table class ="table table-bordered">
            <tr>
                <th>teste</th>
                <th>nome</th>
                <th>preço</th>
                <th>quantidade</th>
                <th>opção</th>
            </tr>
            {% for item in cart %}
            {% with product=item.product %}
            {% with ''|center:product.quantity as range %}
            <tr>
                <td>{{ item.quantity }}</td>
                <td>{{  product.name }}</td>
                <td>{{  item.total_price }}</td>
                <td>
                    <form action="{% url 'cart_update' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden"  name="product_id" value='{{ product.pk }}'>
                        <select id = "quantity" name="quantity" onchange="this.form.submit()">
                            {% for _ in range %}
                            {% if  forloop.counter == item.quantity %}
                                <option value="{{ forloop.counter }}" selected="selected">
                                    {{ forloop.counter }}
                                </option>
                            {% else %}
                                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <form action="{% url 'cart_remove' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ product.pk }}">
                    <td><button type="submit" class="btn btn-danger">remover</button></td>
                </form>
                
            </tr>
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content  %}