{% load static %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% block scriptstop %}
  {% endblock scriptstop%}
  <!-- Bootstrap core JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    img{
      object-fit: contain;
    }
  </style>
  <!-- Core theme JS-->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <title>{% block title %}{% endblock title%}</title>
  <!-- Favicon-->
  
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0px;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .rodape {
      flex-shrink: 0;
      padding: 30px;
    }

    .conteudo {
      flex: 1 0 auto;
    }
  </style>

</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'ecommerc:home' %}">Virtual Store</a>

      <div class="d-none d-sm-none d-md-block">
        <div>
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Departamentos
          </button>

          <div class="collapse position-absolute" style="z-index: 100" id="collapseExample">
            <div class="list-group">
              {% for department in base_departments %}
              <div class="btn-group dropend bg-white">
                <button type="button" class="btn dropdown-toggle list-group-item" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{department.name}}
                </button>
                <ul class="dropdown-menu">
                  {% for category in department.categories.all %}
                  <li>
                    <a class="dropdown-item" href="{% url 'ecommerc:category' department.slug category.slug %}">
                      {{ category.name }}
                    </a>
                  </li>
                  {%endfor%}
                </ul>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        {% if user|can:'edit_all_page' %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'ecommerc:administrador' %}">Administração</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'payment_list' %}">Ultimos pedidos</a>
          </li>
        </ul>
        {% endif %}
        {% if user.is_authenticated %}
        <ul class="navbar-nav  ml-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'payment_user_list' %}">Meus pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i> Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
        {%else%}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i> Carrinho</a>
          </li>>
          <li class="nav-item">
            
            <a class="nav-link text-white" href="{% url 'login' %}">Fazer login</a>
          </li>
        </ul>
        {% endif %}
      </div>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5>Departamentos</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="list-group mt-1">
          {% for department in base_departments %}
          <div class="btn-group dropdown bg-white">
            <button type="button" style="text-align:left;" class="btn btn-secondary dropdown-toggle list-group-item"
              data-bs-toggle="collapse" data-bs-target="#collapseOffcanvas{{department.name}}"
              aria-controls="collapseOffcanvas{{department.name}}" aria-expanded="false">
              {{department.name}}
            </button>
          </div>
          <div class="list-group collapse" id="collapseOffcanvas{{department.name}}">
            {% for category in department.categories.all %}
            <li class="list-group-item">
              <a class="dropdown-item" href="{% url 'ecommerc:category' department.slug category.slug %}">
                {{ category.name }}
              </a>
            </li>
            {%endfor%}
          </div>
          {%endfor%}
        </div>
        {% if user|can:'edit_all_page' %}

          <a class="h5 list-group-item mt-2 " href="{% url 'ecommerc:administrador' %}">
            Administração
          
        <a class="h5 list-group-item mt-1" href="{% url 'payment_list' %}">Ultimos pedidos</a>
        {% endif %}
        {% if user.is_authenticated %}
        
            <a class="h5 list-group-item mt-1" href="{% url 'payment_user_list' %}">Meus pedidos</a>
      
            <a class="h5 list-group-item mt-1" href="{% url 'cart_detail' %}">
              <i class="fa fa-shopping-cart"></i> Carrinho
            </a> 
            <a class="h5 list-group-item mt-1" href="{% url 'logout' %}">Logout</a>
        
        {%else%}

        <a class="h5 list-group-item mt-1" href="{% url 'cart_detail' %}">
              <i class="fa fa-shopping-cart"></i> Carrinho
        </a> 
        <a class="h5 list-group-item mt-1" href="{% url 'login' %}">Fazer login</a>

        {% endif %}
      </div>
    </div>
  </nav>
  <!-- Page Content-->
  <div class="container-fluid conteudo">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 bg-dark">
        <form class="row g-3" method="GET" action="{% url 'ecommerc:search' %}">
          <div class="col-11 col-sm-11 col-md-11 px-0">
            <input class="form-control mb-2" type="search" name="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="d-grid gap-2  col-1 col-sm-1 col-md-1 px-0 ">
            <button class="btn btn-outline-light mb-2" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
      {% block content %}{% endblock content%}
    </div>
  </div>
  <!-- Footer-->
  <footer class="rodape py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
    </div>
  </footer>
</body>

</html>