{% extends 'base.html' %}
{% block content  %}
<div class="offset-lg-1 col-lg-10 mt-2">
    
    <h4>Produtos</h4>
    <a href="{% url 'products' %}" class="btn btn-success">Lista de produtos</a>
    <a href="{% url 'product_create' %}" class="btn btn-success">Criar novo produto</a>
    <h4>Categorias</h4>
    <a href="{% url 'category_list' %}" class="btn btn-success">Lista de categorias</a>
    <a href="{% url 'category_create' %}" class="btn btn-success">Criar nova categoria</a>
    <h4>Departamentos</h4>
    <a href="{% url 'department_list' %}" class="btn btn-success">Lista de departamentos</a>
    <a href="{% url 'department_create' %}" class="btn btn-success">Criar novo departamento</a>
</div>
    
{% endblock content  %}